In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('Rifornimenti_Carburante_ClubQ8.csv', sep = ';')

#Display the first 10 rows
result = df.head(10)
print("First 10 rows of the DataFrame:")
print(result)

First 10 rows of the DataFrame:
        COD_PAN_DA_POS  COD_PV      DATA_OPERAZIONE                 PRODOTTO  \
0  7071161603600606750     584  2021-03-01 00:00:57           CARICO GASOLIO
1  7071161603000039982     155  2021-03-01 00:02:53           CARICO GASOLIO
2  7071161603000720656    4803  2021-03-01 00:03:10           CARICO GASOLIO
3  7071161603014646483    2491  2021-03-01 00:05:45  CARICO HIPERFORM DIESEL
4  7071161603011692357    8265  2021-03-01 00:07:29               CARICO GPL
5  7071161603670670090    1282  2021-03-01 00:08:44           CARICO GASOLIO
6  7071161603017712688    3318  2021-03-01 00:10:00           CARICO GASOLIO
7  7071161603013804778    9587  2021-03-01 00:10:12           CARICO GASOLIO
8  7071161603024460792    4688  2021-03-01 00:13:04           CARICO GASOLIO
9  7071161603002724144    1569  2021-03-01 00:16:14           CARICO GASOLIO

  MODALITA_VENDITA  LITRI  PUNTI_CARBURANTE
0             EASY      7                 3
1             SELF     17                17
2              OPT     39                19
3          SERVITO     54                54
4          SERVITO     31                31
5             SELF     40                40
6             SELF     36                36
7             EASY     14                 7
8             SELF     30                30
9             SELF     30                30

In [17]:
df[['REQUEST_YEAR','REQUEST_TIME']] = df.DATA_OPERAZIONE.str.split(" ",expand=True,)
df

,COD_PAN_DA_POS,COD_PV,DATA_OPERAZIONE,PRODOTTO,MODALITA_VENDITA,LITRI,PUNTI_CARBURANTE,REQUEST_YEAR,REQUEST_TIME
0,7071161603600606750,584,2021-03-01 00:00:57,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57
1,7071161603000039982,155,2021-03-01 00:02:53,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53
2,7071161603000720656,4803,2021-03-01 00:03:10,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10
3,7071161603014646483,2491,2021-03-01 00:05:45,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45
4,7071161603011692357,8265,2021-03-01 00:07:29,CARICO GPL,SERVITO,31,31,2021-03-01,00:07:29
...,...,...,...,...,...,...,...,...,...
11787857,7071161603670650324,1114,2021-08-31 23:58:22,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22
11787858,7071161603020697769,7064,2021-08-31 23:58:26,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26
11787859,7071161603010864247,7933,2021-08-31 23:58:56,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56
11787860,7071161603601882848,5693,2021-08-31 23:59:03,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03
11787861,7071161603008369308,5493,2021-08-31 23:59:18,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18

In [18]:
df = df.drop(columns="DATA_OPERAZIONE")

In [19]:
df.columns = ['CUSTOMER_CODE', 'STATION_CODE', 'PRODUCT', 'SALES_MODALITY', 'LITRES', 'LOYALTY_POINTS_AWARDED','REQUEST_YEAR','REQUEST_TIME']

In [20]:
df

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45
4,7071161603011692357,8265,CARICO GPL,SERVITO,31,31,2021-03-01,00:07:29
...,...,...,...,...,...,...,...,...
11787857,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22
11787858,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26
11787859,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56
11787860,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03
11787861,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18

In [21]:
def summarize_na(df: pd.DataFrame) -> pd.DataFrame:
    nan_count = df.isna().sum()
    return pd.DataFrame({'nan_count': nan_count, 
                         'nan_pct': nan_count / len(df) * 100
                         }
                        )[nan_count > 0]

In [22]:
df_nan_sum = summarize_na(df)
df_nan_sum

Empty DataFrame
Columns: [nan_count, nan_pct]
Index: []

In [23]:
df['PRODUCT'].unique()

array(['CARICO GASOLIO', 'CARICO HIPERFORM DIESEL', 'CARICO GPL',
       'CARICO GASOLIO PESANTE', 'CARICO BENZINA', 'CARICO METANO',
       'CARICO HIPERFORM 100 OTTANI', 'ANNULLO CARICO GASOLIO',
       'ANNULLO CARICO BENZINA', 'ANNULLO CARICO HIPERFORM DIESEL',
       'ANNULLO CARICO GPL', 'ANNULLO CARICO GASOLIO PESANTE',
       'ANNULLO CARICO HIPERFORM 100 OTTANI', 'CARICO METANO PESANTE',
       'ANNULLO CARICO METANO'], dtype=object)

In [24]:
df['SALES_MODALITY'].unique()

array(['EASY', 'SELF', 'OPT', 'SERVITO', 'OPT POS'], dtype=object)

In [25]:
df.dtypes

CUSTOMER_CODE              int64
STATION_CODE               int64
PRODUCT                   object
SALES_MODALITY            object
LITRES                     int64
LOYALTY_POINTS_AWARDED     int64
REQUEST_YEAR              object
REQUEST_TIME              object
dtype: object

In [27]:
cols_focus_cat = ['PRODUCT', 'SALES_MODALITY']
cols_focus_num = ['LITRES', 'LOYALTY_POINTS_AWARDED']
cols_focus = cols_focus_cat + cols_focus_num

In [31]:
df[cols_focus_num].describe()

             LITRES  LOYALTY_POINTS_AWARDED
count  1.178786e+07            1.178786e+07
mean   4.055607e+01            3.723561e+01
std    4.562399e+01            2.589148e+01
min    1.000000e+00           -1.800000e+02
25%    2.000000e+01            1.800000e+01
50%    3.300000e+01            3.100000e+01
75%    5.000000e+01            5.000000e+01
max    1.200000e+03            2.400000e+02