In [1]:
import pandas as pd
import numpy as np
import xlsxwriter
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

df3 = pd.read_csv('C:\Documents\Rifornimenti_Carburante_ClubQ8.csv', sep = ';', decimal=",")


df3[['REQUEST_YEAR','REQUEST_TIME']] = df3.DATA_OPERAZIONE.str.split(" ",expand=True,)


df3 = df3.drop(columns="DATA_OPERAZIONE")

df3.columns = ['CUSTOMER_CODE', 'STATION_CODE', 'PRODUCT', 'SALES_MODALITY', 'LITRES', 'LOYALTY_POINTS_AWARDED','REQUEST_YEAR','REQUEST_TIME']

df3

,CUSTOMER_CODE,STATION_CODE,PRODUCT,SALES_MODALITY,LITRES,LOYALTY_POINTS_AWARDED,REQUEST_YEAR,REQUEST_TIME
0,7071161603600606750,584,CARICO GASOLIO,EASY,7,3,2021-03-01,00:00:57
1,7071161603000039982,155,CARICO GASOLIO,SELF,17,17,2021-03-01,00:02:53
2,7071161603000720656,4803,CARICO GASOLIO,OPT,39,19,2021-03-01,00:03:10
3,7071161603014646483,2491,CARICO HIPERFORM DIESEL,SERVITO,54,54,2021-03-01,00:05:45
4,7071161603011692357,8265,CARICO GPL,SERVITO,31,31,2021-03-01,00:07:29
...,...,...,...,...,...,...,...,...
11787857,7071161603670650324,1114,CARICO GASOLIO,SELF,50,50,2021-08-31,23:58:22
11787858,7071161603020697769,7064,CARICO BENZINA,EASY,12,6,2021-08-31,23:58:26
11787859,7071161603010864247,7933,CARICO BENZINA,OPT,9,4,2021-08-31,23:58:56
11787860,7071161603601882848,5693,CARICO GASOLIO,SERVITO,50,50,2021-08-31,23:59:03
11787861,7071161603008369308,5493,CARICO GASOLIO,SELF,40,40,2021-08-31,23:59:18

In [4]:
def summarize_na(df: pd.DataFrame) -> pd.DataFrame:
    nan_count = df.isna().sum()
    return pd.DataFrame({'nan_count': nan_count, 
                         'nan_pct': nan_count / len(df) * 100
                         }
                        )[nan_count > 0]

In [5]:
df3_nan_sum = summarize_na(df3)
df3_nan_sum

Empty DataFrame
Columns: [nan_count, nan_pct]
Index: []

In [6]:
tab = pd.crosstab(index=df3['STATION_CODE'], columns='proportion')
tab/tab.sum()

col_0         proportion
STATION_CODE
4               0.000468
7               0.000031
8               0.000486
13              0.000015
14              0.000028
...                  ...
9961            0.001578
9964            0.000392
9966            0.000050
9991            0.000515
9992            0.000001

[2562 rows x 1 columns]

In [10]:
tab = pd.crosstab(index=df3['PRODUCT'], columns='proportion')
tab/tab.sum()

col_0                                  proportion
PRODUCT
ANNULLO CARICO BENZINA               2.081802e-04
ANNULLO CARICO GASOLIO               2.616251e-04
ANNULLO CARICO GASOLIO PESANTE       2.265042e-05
ANNULLO CARICO GPL                   1.671211e-05
ANNULLO CARICO HIPERFORM 100 OTTANI  1.968126e-05
ANNULLO CARICO HIPERFORM DIESEL      5.302064e-05
ANNULLO CARICO METANO                3.393321e-07
CARICO BENZINA                       3.735464e-01
CARICO GASOLIO                       4.950315e-01
CARICO GASOLIO PESANTE               6.573032e-03
CARICO GPL                           5.445271e-02
CARICO HIPERFORM 100 OTTANI          1.936017e-02
CARICO HIPERFORM DIESEL              4.680026e-02
CARICO METANO                        3.644596e-03
CARICO METANO PESANTE                9.077134e-06

In [12]:
tab = pd.crosstab(index=df3['SALES_MODALITY'], columns='proportion')
tab/tab.sum()

col_0           proportion
SALES_MODALITY
EASY              0.046334
OPT               0.029566
OPT POS           0.001583
SELF              0.523248
SERVITO           0.399270

In [13]:
df3['LITRES'].describe().apply("{0:.5f}".format)

count    11787862.00000
mean           40.55607
std            45.62399
min             1.00000
25%            20.00000
50%            33.00000
75%            50.00000
max          1200.00000
Name: LITRES, dtype: object

In [14]:
df3['LOYALTY_POINTS_AWARDED'].describe().apply("{0:.5f}".format)

count    11787862.00000
mean           37.23561
std            25.89148
min          -180.00000
25%            18.00000
50%            31.00000
75%            50.00000
max           240.00000
Name: LOYALTY_POINTS_AWARDED, dtype: object